body {
  margin: 0;
  padding: 0;
  background: #ff3772;
  font-family: sans-serif;
}

ul {
  position: relative;
  width: 450px;
  margin: 100px auto 0 0px;
  padding: 10px;
  box-sizing: border-box;
}
